<ons-page id="avatar">
    <div class="container-detail">
        <div class="img-detail">
            <img src="images/image3.jpg" alt="">
        </div>
        
        <div class="container2">
            <h1>Avatar</h1>
            <div class="text" >

                Avatar (marketed as James Cameron's Avatar) is a 2009 American epic science fiction film directed,
                 written, produced, and co-edited by James Cameron and stars Sam Worthington, Zoe Saldana, 
                 Stephen Lang, Michelle Rodriguez, and Sigourney Weaver. The film is set in the mid-22nd century
                  when humans are colonizing Pandora, a lush habitable moon of a gas giant in the Alpha Centauri star system, 
                  in order to mine the mineral unobtanium, a room-temperature superconductor. The expansion
                   of the mining colony threatens the continued existence of a local tribe of Na'vi – a humanoid species indigenous 
                   to Pandora. The film's title refers to a genetically engineered Na'vi body operated from 
                   the brain of a remotely located human that is used to interact with the natives of Pandora.

            </div>

        </div>
    </div>
    

</ons-page>