<ons-page id="Search">

    <div class="search-text">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>
    </div>
        
    

    <div class="container">
        <img src="images/image1.jpg" alt="">
        <div class="container2">
            <h1>Star Wars: The Force Awakens</h1>
            <div class="text">
                Star Wars: The Force Awakens (also known as Star Wars: Episode VII – The Force Awakens)
                is a 2015 American epic space.......
            </div>
            <h2>Ratings</h2>
            <div class="icon-center">
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
            </div>
        </div>
    </div>



    </div>

    <div class="container">
        <img src="images/image2.jpg" alt="">
        <div class="container2">
            <h1>Pirates of the Caribbean: Dead Men Tell No Tales</h1>

            <p> Pirates of the Caribbean: Dead Men Tell No Tales
                (released in some countries as Pirates of the Caribbean: Salazar's .......</p>
                <h3>Ratings</h3>
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                </div>
        </div>

    </div>

    <div class="container">
        <img src="images/image3.jpg" alt="">
        <div class="container2">
            <h1>Avatar</h1>
            <div class="text">

                Avatar is a 2009 American epic science fiction film directed,
                written, produced, and co-edited by James Cameron and stars Sam Worthington,.......
            </div>
            <h2>Ratings</h2>
            <div class="icon-center">
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
            </div>

        </div>
    </div>
    </div>
</ons-page>